<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssgl.mapper.CustomerUserMapper">
    <select id="selectUsers" resultType="com.ssgl.bean.TUser">
        SELECT * FROM t_user
        <where>
            <if test="username!=null and username!=''">and username=#{username}</if>
        </where>
    </select>

</mapper>