<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssgl.mapper.CustomerDormitoryMapper" >

    <resultMap id="BaseMap" type="com.ssgl.bean.Dormitory">
        <id column="id" property="id"/>
        <result column="building_no" property="buildingNo"/>
        <result column="surplus" property="surplus"/>
        <result column="students" property="students"/>
        <result column="rooms" property="rooms"/>
        <result column="floors" property="floors"/>
    </resultMap>

    <select id="selectDormitoryById" resultMap="BaseMap">
        SELECT * FROM dormitory where id in
        <foreach collection="list" item="item" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>

    <select id="selectDormitory" parameterType="int" resultType="com.ssgl.bean.Dormitory">
        SELECT * FROM dormitory WHERE building_no=#{building_no}
    </select>

    <delete id="deleteDormitories">
        delete from dormitory where id in
        <foreach collection="list" item="item" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

    <select id="selectLayerByBuidingNo" parameterType="int" resultType="int">
        SELECT
            floors
        FROM
            dormitory
        WHERE
            dormitory.building_no = #{buildingNo}
    </select>

</mapper>