<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssgl.mapper.CustomerStudentMapper" >

    <resultMap id="studentMap" type="com.ssgl.bean.Student">
        <id column="id" property="id"></id>
        <result property="sid" column="sid"></result>
        <result property="name" column="name"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="graduateTime" column="graduate_time"></result>
        <result property="homePhone" column="home_phone"></result>
        <result property="entranceTime" column="entrance_time"></result>
        <result property="isUndergraduate" column="is_undergraduate"></result>
        <result property="isGraduate" column="is_graduate"></result>
        <result property="roomNumber" column="room_number"></result>
        <result property="dormitoryNo" column="dormitory_no"></result>
        <result property="bedNo" column="bed_no"></result>
        <result property="address" column="address"></result>
        <result property="phone" column="phone"></result>
        <result property="duty" column="duty"></result>
        <result property="faculty" column="faculty"></result>
        <result property="icon" column="icon"></result>
    </resultMap>


    <select id="selectStudentsPage" resultMap="studentMap">
       SELECT * FROM student
       <where>
           <if test="name!=null and name!=''">and name=#{name}</if>
           <if test="sid!=null and sid!=''">and sid=#{sid}</if>
           <if test="roomNumber!=null and roomNumber!=''">and room_number=#{roomNumber}</if>
           <if test="age!=null and age!=''">and age=#{age}</if>
           <if test="sex!=null and sex!=''and sex!='undefined' and sex!='-1'">and sex=#{sex}</if>
           <if test="duty!=null and duty!=''">and age=#{duty}</if>
           <if test="faculty!=null and faculty!=''">and faculty=#{faculty}</if>
           <if test="entranceTime!=null and entranceTime!=''">and entrance_time=#{entranceTime}</if>
           <if test="graduateTime!=null and graduateTime!=''">and graduate_time=#{graduateTime}</if>
       </where>
    </select>

    <delete id="deleteStudents">
        delete from student where id in
        <foreach collection="array" item="item" separator="," open="[" close="]" index="index">
            #{item}
        </foreach>
    </delete>

</mapper>