<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssgl.mapper.CustomerRoomMapper">
    <delete id="deleteRooms">
        delete from room where room.id in
        <foreach collection="list" index="index" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteRoom" parameterType="string">
        delete from room where id=#{id}
    </delete>
</mapper>